:root {
    --shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    --shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075);
    --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .175);
}

* {

    margin: 0px;
    padding: 0px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.banner {
    height: 80vh;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/461940/pexels-photo-461940.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .banner-content {
    max-width: 500px;
    height: auto;
    text-align: center;
    color: #fff;
}

.banner .banner-content h1 {
    font-size: 30px;
    font-weight: 900;
}

.banner .banner-content p {
    font-size: 13px;
    font-weight: 200;
}

.banner .banner-content a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

/* modal css start */

.modal_one {

    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-200px);
    transition: all .2s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.modal_one.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
}

.modal_one .modal_content {
    background-color: #fff;
    width: 500px;
    height: auto;
    border-radius: 5px;
    box-shadow: var(--shadow-lg);
}

.modal_one .modal_content .modal_header {
    padding: 15px 20px;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    justify-content: space-between;
}

.modal_one .modal_content .modal_header .close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
}

.modal_one .modal_content .modal_body {
    padding: 15px 20px;
}

.modal_one .modal_content .modal_footer {
    padding: 10px 20px;
    border-top: 1px solid #e9e9e9;
}

/* modal css end */

/* alert  */
.alert_one {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.alert_one .alert_content {
    width: 548px;
    background-color: #fff;
    border-radius: 10px;
}

.alert_one .alert_content .alert_header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
}

.alert_one .alert_content .alert_header .close {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    background-color: #D8DADF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert_one .alert_content .alert_body {
    padding: 15px 20px;
}
.alert_one .alert_content .alert_body .btns{
    text-align: right;
}
.alert_one .alert_content .alert_body .btns a{
    display: inline-block;
}


/* alert  */